/* Jack's buttons! */
button,
.reset-anchor {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0; 
}

.bttn {
  padding: 8px 13px;
  border-radius: 2px;
  color: black;
  background-color: #d8dfe4;
  text-transform: none;
  outline: none;
  cursor: pointer;
  font-weight: 600; 
}

.bttn:hover {
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.27);
  transition: all 0.1s ease-in-out; 
}

.bttn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.125); 
}

.bttn-splat:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  outline: 5px solid #c7dcfc; 
}

.bttn-small {
  padding: 2px 8px;
  font-size: 12px; 
}

.bttn-large {
  padding: 10px 16px;
  font-size: 18px;
  font-weight: 900; 
}

.bttn-block {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3px;
  text-align: center; 
}

.bttn-primary,
.bttn-primary[disabled]:hover,
.bttn-primary[disabled]:active {
  color: white;
  background-color: #3276b1; }

.bttn-primary:hover {
  background-color: #428bca; 
}

.bttn-success,
.bttn-success[disabled]:hover,
.bttn-success[disabled]:active {
  color: white;
  background-color: #47a447; 
}

.bttn-success:hover {
  background-color: #5cb85c; 
}

.bttn-info,
.bttn-info[disabled]:hover,
.bttn-info[disabled]:active {
  color: white;
  background-color: #39b3d7; 
}

.bttn-info:hover {
  background-color: #5bc0de; 
}

.bttn-danger,
.bttn-danger[disabled]:hover,
.bttn-danger[disabled]:active {
  color: white;
  background-color: #d2322d; 
}

.bttn-danger:hover {
  background-color: #d9534f; 
}

.bttn-warning,
.bttn-warning[disabled]:hover,
.bttn-warning[disabled]:active {
  color: white;
  background-color: #ed9c28; 
}

.bttn-warning:hover {
  background-color: #f0ad4e;
}

.bttn[disabled],
.bttn[disabled]:hover,
.bttn[disabled]:active {
  opacity: .4;
  cursor: not-allowed;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 1);
}
a.bttn {
  padding: 8px 13px;
}