*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

html {
  background-color: #F4F4F4;
  min-width: 300px;
  font-family: 'Montserrat', sans-serif;
  max-width: 300px;
  font-size: 12px; 
}

.ext {
  min-width: 600px;
  font-family: 'Montserrat', sans-serif;
  max-width: 600px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.title-text {
  color: #555;
  font-size: 20px;
  font-weight: 900;
}

.popup-li {
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 19px;
  background-color: #fff;
}

.half {
  width: 49.4%;
  display: inline-block;
}

img {
  height: 14px;
  top: 2px;
  position: relative;
  width: 14px;
  display: inline-block;
}

ul {
  height: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  overflow-y: scroll;
  background-color: #FFFFFF;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.27);
  border-radius: 2px;
  overflow-x: hidden;
  -webkit-transition: height .25s ease-in-out;
  -moz-transition: height .25s ease-in-out;
  -ms-transition: height .25s ease-in-out;
  -o-transition: height .25s ease-in-out;
  transition: height .25s ease-in-out;
}

.text-bump {
  color: #111;
  text-decoration: none;
}

.settings {
  float: right;
  cursor: pointer;
  border: 1px solid rgba(255,255,255, 0.0);
  padding: 3px;
}

.settings:hover {
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  padding: 3px;
}

.settingspage {
  display: none;
}

.personal-link {
  cursor: pointer;
}

.bttn-padding {
  position: relative;
  top: 25px;
}

.ol {
  text-align: left;
}

.center {
  text-align: center;
}

.none {
  display: none;
}

.italics {
  font-style: italic;
}

.folder {
  max-width: 100%;
  display: table-cell;
  padding-right: 15px;
  border: 1px solid rgba(255,255,255,.0);
  border-radius: 4px;
  padding: 3px;
}

.folder:hover {
  border: 1px solid #D0D0D0;
  cursor: pointer;
}

.folder img {
  height: 50px;
  width: 50px; 
}

.results-list {
  text-align: left;
}